# Default ignored files
/../../Hostel Management System./.idea/shelf/
/../../Hostel Management System./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Hostel Management System./.idea/httpRequests/
# Datasource local storage ignored files
/../../Hostel Management System./.idea/dataSources/
/../../Hostel Management System./.idea/dataSources.local.xml
